﻿@{
    ViewBag.Title = "Login";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/customStyle.css" rel="stylesheet" />
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-body">
                <ul class="nav nav-tabs final-login">
                    <li class="active"><a data-toggle="tab" href="#sectionA">Web Calculator Login</a></li>
                </ul>
                <div class="tab-content">
                    <div id="sectionA" class="tab-pane fade in active">
                        <div class="innter-form">
                            <form method="post" action="/Account/Login" id="onform" class="sa-innate-form" >
                                <label>Username</label>
                                <input type="text" name="Username">
                                @Html.ValidationMessage("Username", "", new { @class = "text-danger" })
                                <br />
                                <label>Password</label>
                                <input type="password" name="Password">
                                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                                <br />
                                <input type="submit" value="Login" class="button">
                            </form>
                            @if (ViewBag.LoginStatus == false)
	                        {
		                         <span style="color:red;font-weight:bold;">* Please check your username and password.</span>
	                        }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function loginValidations() {
        var username = document.forms["onform"]["Username"].value;
        var password = document.forms["onform"]["Password"].value;
        //if (email != null) {
        //    var x = document.forms["onform"]["Email"].value;
        //    var atpos = x.indexOf("@@");
        //    var dotpos = x.lastIndexOf(".");
        //    if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
        //        alert("Lütfen geçerli bir eposta adresi giriniz.");
        //        return false;
        //    }
        //}
        if (username == "" || username == null) {
            alert('Username required.');
            return;
        }
        if (password == "" || password == null) {
            alert('Password required.');
            return;
        }
        loginPost();
    }

    var loginPost = function () {
        $.ajax({
            type: 'POST',
            url: '/Account/Login',
            data: $('#onform').serialize(),
            cache: false,
            success: function (data) {
                if (data.done) {
                    window.location.href = "/Calculate/Index";
                }
                else {
                    alert("1" + data.msg);
                }
            },
            error: function (xhr, status, error) {
                alert('Beklenmedik bir hata oluştu');
            }
        });
    }

</script>



