﻿    body {
        padding: 10px;
    }

    input {
        border: none;
    }

    button {
        height: 50px;
        width: 50px;
        margin: 10px 4px;
        box-shadow: inset 1px 1px 50px #4e4e50;
        border: none !important;
    }

    *:focus {
        outline: 0 !important;
    }

    #allClear {
        box-shadow: inset 1px 1px 50px #990000;
        border: none;
    }

    #clear {
        box-shadow: inset 1px 1px 50px #CC6600;
        border: none;
    }

    #equals {
        box-shadow: inset 1px 1px 50px #006633;
        border: none;
    }
    /* Hidden button for formatting sake */
    #blank {
        visibility: hidden;
    }

    .calcBG {
        background-color: #37373a;
        border-radius: 15px;
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: inset 1px 1px 50px #000;
    }

    .screen {
        height: 25px;
        /*border-radius: 10px;*/
        padding: 10px;
        /*margin: 10px 2px;*/
        font-size: 16px;
        font-weight: bold;
        background: #8e9eab; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*box-shadow: 0px 4px #000099 inset;*/
    }

    small {
        color: #fff;
        font-weight: bold;
    }

    .btn-calculate {
        color: #fff;
        background-color: #babebf;
        border-color: #696a6b;
    }


    .navbar-nav {
        float: right !important;
        margin: 0;
    }