﻿@{
    ViewBag.Title = "Calculate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/calculateStyle.css" rel="stylesheet" />
<script type="text/javascript">
    function myFunction(id) {
        document.webCalculator.result1.value += id;
    }

    function calculate(id) {

        document.webCalculator.result2.value = CalculateJSON(document.webCalculator.result1.value)
        document.webCalculator.result1.value = document.webCalculator.result2.value
    }

    function clearScreen() {
        document.webCalculator.result1.value = "";
        document.webCalculator.result2.value = "";
    }

    function CalculateJSON(data) {
        var result = 0;
        $.ajax({
            url: "@Url.Action("ReturnResult", "Calculate")",
            type: "GET",
            async: false,
            data: { data: data },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (response) {

                result = response;
            }
        });
        return result;
    }
</script>

<div class="container text-center" id="webCalculator">
    <div class="calcBG col-md-3 col-md-offset-4 text-center">
        <div class="row">
            <small>WEB Calculator</small>
        </div>
        <div class="row" id="result">
            <form name="webCalculator">
                <input type="text" class="screen text-right" name="result1" readonly>
                <input type="text" class="screen text-right" name="result2" readonly>
            </form>
        </div>
        <div class="row">
            <button id="allClear" type="button" class="btn btn-danger" onclick="clearScreen()">AC</button>
            <button id="clear" type="button" class="btn btn-warning" onclick="clearScreen()">CE</button>
            <button id="%" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">%</button>
            <button id="/" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">÷</button>
        </div>
        <div class="row">
            <button id="7" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">7</button>
            <button id="8" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">8</button>
            <button id="9" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">9</button>
            <button id="*" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">x</button>
        </div>
        <div class="row">
            <button id="4" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">4</button>
            <button id="5" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">5</button>
            <button id="6" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">6</button>
            <button id="-" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">-</button>
        </div>
        <div class="row">
            <button id="1" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">1</button>
            <button id="2" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">2</button>
            <button id="3" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">3</button>
            <button id="+" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">+</button>
        </div>
        <div class="row">
            <button id="0" type="button" class="btn btn-calculate" onclick="myFunction(this.id)">0</button>
            <button id="." type="button" class="btn btn-calculate" onclick="myFunction(this.id)">.</button>
            <button id="equals" type="button" class="btn btn-success" onclick="calculate()">=</button>
            <button id="blank" type="button" class="btn btn-calculate">&nbsp;</button>
        </div>
    </div>
</div>




